/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #07071c;
  --card-bg: #111125;
  --primary-orange: #ff7a1a;
  --text-white: #ffffff;
  --text-secondary: #b7b7c8;
  --border-color: rgba(255, 255, 255, 0.08);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-bg);
  color: var(--text-white);
}

img {
  width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}